<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>queryString</key>
	<dict>
		<key>sort</key>
		<string>activity</string>
		<key>order</key>
		<string>desc</string>
		<key>site</key>
		<string>stackoverflow</string>
	</dict>
	<key>operationClass</key>
	<string>AFHTTPRequestOperation</string>
	<key>operations</key>
	<array>
		<dict>
			<key>dataDeserializer</key>
			<dict>
				<key>skipNotMapped</key>
				<true/>
				<key>objectClass</key>
				<string>RNFDictionaryDataDeserializer</string>
				<key>targetClass</key>
				<string>VMStackResponse</string>
				<key>mappings</key>
				<dict>
					<key>items</key>
					<dict>
						<key>mappings</key>
						<dict>
							<key>creation_date</key>
							<string>date</string>
							<key>view_count</key>
							<string>views</string>
							<key>link</key>
							<string>link</string>
							<key>title</key>
							<string>title</string>
							<key>answer_count</key>
							<string>answers</string>
						</dict>
						<key>transforms</key>
						<dict>
							<key>date</key>
							<string>RNFDateValueTransformer</string>
							<key>link</key>
							<string>RNFURLValueTransformer</string>
						</dict>
						<key>targetClass</key>
						<string>VMStackQuestion</string>
						<key>skipNotMapped</key>
						<true/>
						<key>objectClass</key>
						<string>RNFDictionaryDataDeserializer</string>
					</dict>
				</dict>
			</dict>
			<key>name</key>
			<string>getAnswers:tagged:withCompletionBlock:</string>
			<key>URL</key>
			<string>questions?pagesize={{0}}&amp;tagged={{1}}</string>
		</dict>
	</array>
	<key>baseURL</key>
	<string>https://api.stackexchange.com/2.2</string>
	<key>responseDeserializer</key>
	<string>RNFJSONResponseDeserializer</string>
</dict>
</plist>
